@font-face {
  font-family: Roboto;
  src: url(/Fonts/Roboto-Black.ttf);
}
*{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body {
  margin: 0;
  padding: 0;
}
.one {
  background-color: #1F2937;
}
.navbar{
  color: #E5E7EB;
  margin-right: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}
.navbar .logo {
  font-size: 24px;
  color: #E5E7EB;
  font-weight: bold;
}
.navbar ul {
  list-style: none;
}
.one div {
  padding-top: 25px;
}
.navbar a {
  font-size: 18px;
  text-decoration: none;
  color: #E5E7EB;
  margin-left: 10px;
}
.container1 {
  color: #E5E7EB;
  margin-left: 25px;
  height: 260px;
  display: flex;
  justify-content: center;
}
.container1 div {
  width: 400px;
  padding: 0 25px;
}
.container1 p {
  font-size: 18px;
}
.heading {
  font-size: 36px;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 20px;
  margin-top: 25px;
  text-align: center;
}
.container2{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.container2 figure{
  width: 180px;
  font-size: 12px;
  text-align: center;
}
.container2 img {
  width: 150px;
  height: 150px;
  border-radius: 15px ;
  border: 3px solid #3882F6;
}
.quote{
  font-size: 36px;
  font-weight: lighter;
  color: #1F2937;
  text-align: center;
}
.author {
  font-size: 18px;
  font-weight:bold;
  text-align: right;
}
.img {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}
.img img{
  border: 3px;
  border-style: solid;
  border-color: #3882F6;
  border-radius: 25%;
  margin: 5px 50px;
}
.three {
  background-color: #E5E7EB;
  padding: 50px 300px;
}
.three h2 {
  margin-top: 40px;
  font-size: 36px;
}
.action {
  background-color: #3882F6;
  color: #E5E7EB;
  margin: 100px 200px;
  padding: 15px;
  text-align: center;
  border-radius: 15px ;
  border: 3px solid #3882F6;
}
.action div {
  text-align: left;
  display: inline-block;
}
.action .button {
  display: inline-block;
  background-color: #3882F6;
  margin-left: 25px;
  padding: 5px 20px;
  border-radius: 5px;
  border: 3px solid #E5E7EB;
}
.button {
  background-color: #3882F6;
  color: #E5E7EB;
  border-style: none;
  margin-bottom: 25px;
  padding: 5px 20px;
  border-radius: 5px;
}
.button a {
  text-decoration: none;
  color: #E5E7EB;
}
.testimonial {
  background-color: #E5E7EB;
  margin: 50px;
  padding: 15px;
  border-style: solid;
  border: #E5E7EB;
  border-radius: 10px;
}
.testimonial h2{
  font: size 36px;
  color: #1F2937;
  text-align: center;
}
.testimonial h3 {
  font-size: 28px;
  color: #1F2937;
  text-align: center;
}
.testimonial p {
  color:#3882F6;
  font-size: 18px;
  padding: 20px 300px;
  margin-bottom: 15px;
}
.four {
  padding: 25px;
  background-color:#3882F6;
}
.four .sub {
  color:#1F2937;
  background-color:rgb(202, 201, 201);
  padding-left: 125px;
  padding-right: 25px;
  padding-top: 25px ;
  padding-bottom: 25px ;
  border-radius: 6px;
}
footer {
  background-color: #1F2937;
  color: #E5E7EB;
  text-align: center;
  padding: 15px;
}
